@import url("https://rsms.me/inter/inter.css");

html {
  width: 100%;
  height: 100vh;

  font-family: "Inter", sans-serif;

  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  grid-template-areas:
    "nav header"
    "nav content";
  grid-template-rows: 59px 1fr;
  grid-template-columns:
    clamp(var(--ideal-nav))
    1fr;
  height: 100%;
  margin: 0;

  color: var(--main-font-color);

  background-color: var(--color-background);
}

header {
  display: flex;
  grid-area: header;
  align-items: center;

  box-sizing: content-box;

  height: 56px;
  /* padding: 1rem; */

  background-color: var(--color-background);

  border-bottom: solid 1px var(--main-border-color);
}

nav {
  position: relative;

  grid-area: nav;
  padding: 0 16px 19px 16px;
  overflow-y: auto;

  background-color: var(--color-background);
  box-shadow: 0px 1px 0px 1px var(--main-border-color);


  /* box-shadow: var(--shadow--keyline); */
}

main > div {
  display: block;
  box-sizing: border-box;
  /* min-width: 20%; */
  overflow: hidden; /* stop background bleeding */

  background-color: var(--color-background-tint);
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: var(--shadow--keyline);


}

nav div {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
}

main {
  /* display: grid; */
  grid-area: content;
  /* grid-gap: 2rem; */
  box-sizing: border-box;
  padding: 36px 23px 36px 13px;
  overflow-y: auto;
  /* place-items: center; */

}

scheme-switch,
toggle-switch,
checkbox-switch {
  vertical-align: middle;

  outline: none;
}

toggle-switch {
  box-shadow: 0 0 0 1px var(--main-border-color);
}

toggle-switch[checked] {
  background-color: var(--color-primary-800);
  box-shadow: 0 0 0 1px var(--color-primary-800);
}

toggle-switch::after {
  background-color: var(--primary50);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(59, 65, 94, 0.1);
}

toggle-switch:focus {
  outline: none;
}

toggle-switch:checked {
  border: solid 3px red;
}

table {
  width: 100%;
}

table,
tr,
td {
  border-collapse: collapse;
}

thead,
tr:not(:last-child) {
  border-bottom: solid 1px var(--main-border-color);
}

th {
  color: var(--main-font-color);
  font-weight: 600;
}

th,
td {
  padding: 1.5rem 2rem;

  text-align: left;
}

strong {
  color: var(--complementary-font-color);
  font-weight: 600;
}

checkbox-switch {
  box-shadow: 0 0 0 1px var(--main-border-color);
}

checkbox-switch:not([disabled])::before {
  background: linear-gradient(
    0deg,
    var(--color-primary-800) 0%,
    var(--color-primary-700) 100%
  );
}

label > checkbox-switch {
  margin-right: 0.5rem;
}

/* h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-indent: 2rem;
} */

img-thumbnail {
  transition: opacity 150ms ease-out;
}

img-thumbnail:not([loaded]) {
  opacity: 0;
}

.checkboxes {
  background: none;
  border: none;
}

.checkboxes > div {
  padding: 0.5rem 2rem;

  background: none;
  border: 0;
}

/* scheme-switch {
  display: block;
  margin-bottom: 2rem;
} */

pre {
  display: flex;
  padding: 2rem;

  background: var(--color-primary-600);
}

code {
  color: rgb(248, 229, 185);
  font-weight: 400;
  font-size: 13px;
  font-family: Menlo, Consolas, monospace;
}

code > span {
  color: var(--syntax-punctuation);
}

/* Reqwork */

details {
  width: 100%;
  margin: 1rem 0 0;
}

summary {
  color: var(--gray100);
  font-weight: 600;
  letter-spacing: 0.01em;

  outline: none;
  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;
}

summary { list-style-type: none; } /* Firefox */
summary::-webkit-details-marker, /* Chrome */
summary::marker {
  display: none;
}

summary > span {
  display: flex;
  justify-content: space-between;
}

summary > span::after {
  width: 16px;
  height: 16px;
  margin-top: 3px;

  /* justify-self: end; */
  margin-right: 8px;

  background-color: var(--main-border-color);

  content: "";
  clip-path: polygon(
    25% 26%,
    15% 35%,
    30% 50%,
    50% 70%,
    70% 50%,
    85% 35%,
    75% 25%,
    50% 50%
  );
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary > span::after {
  transform: rotate(180deg);
}

#dragbar {
  position: absolute;
  top: 0;
  right: 0;

  width: 6px;
  min-width: unset;
  height: 100%;
  margin: 0;

  background: white;
  background: var(--color-background-tint);
  border-radius: unset;
  box-shadow: unset;
  cursor: col-resize;
  opacity: 0;

  transition: opacity 150ms ease-in-out 0s;
}

#dragbar:hover,
body.resizing #dragbar {
  opacity: 1;
}
