/*
  * Remove the white-space below an image without changing its default display
*/
img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

.icon {
  color: var(--color-primary-500);

  stroke-width: var(--stroke-width-medium);
}

[data-layout] {
  display: contents;
}

::placeholder {
  color: var(--color-neutral-400);
}

/*
  * Prevents not defined elements to be visible
*/
:not(:defined) {
  display: none;
}

/*
  * Prevents svg to shrink when flex is applied
*/
svg {
  flex-shrink: 0;
}

/*
  * Dialog
  TODO: Move ...
*/