* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
  min-height: 100%;

  color: var(--body-color);
  font-size: var(--base-font-size);
  font-family: var(--font-family);
  line-height: var(--base-line-height);
}

img {
  display: block;
  max-width: 100%;
}
