h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: 700;
  font-family: var(--heading-font);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

p,
li {
  margin: 1rem 0;
}

a:any-link {
  color: var(--gray400);
  font-weight: 500;
  text-decoration: none;
}
