---
title: Toggle
date: 2020-02-01
layout: base.liquid
---

<main>
  <div>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Mission name</th>
          <th>Activated</th>
          <th>People involved</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <toggle-switch checked="" class="checkbox" aria-checked="true" role="checkbox" tabindex="0">
            </toggle-switch>
          </td>
          <td>
            <strong>From Russia with Love (1963)</strong>
          </td>
          <td>
            3 Days Ago
          </td>
          <td>
            <strong>548</strong>
          </td>
        </tr>
        <tr>
          <td>
            <toggle-switch disabled="" role="checkbox" tabindex="0"></toggle-switch>
          </td>
          <td>
            <strong>Goldfinger (1964)</strong>
          </td>
          <td>
            4 Days Ago
          </td>
          <td>
            <strong>881</strong>
          </td>
        </tr>
        <tr>
          <td>
            <toggle-switch role="checkbox" tabindex="0"></toggle-switch>
          </td>
          <td>
            <strong>Thunderball (1965)</strong>
          </td>
          <td>
            4 Days Ago
          </td>
          <td>
            <strong>3,698</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <pre>
      <code><span>&lt;</span>toggle-switch tabindex<span>="</span>0<span>"</span> disabled<span>&gt;&lt;/</span>toggle-switch<span>&gt;</span></code>
    </pre>
  </div>