<aside id=sidebar is="resizable-aside">
    <header style="background-color: rgb(39, 40, 43); border: 0;padding:0;">
      <h2 style="font-size: var(--scale-1);font-weight: var(--font-weight-medium); color: var(--color-neutral-400); margin: 0 var(--spacing-0);">Details</h2>
    </header>
    <div class="new__status">
      <div>
        <div>
          <label>Slug</label>
        </div>
        <div>
          <input type=text />
        </div>
      </div>
      <div>
        <div>
          <label>Publish</label>
        </div>
        <div>
          <input type=date /> <input type=time style="min-width:auto" />
        </div>
      </div>
    </div>
</aside>