<aside>
  <div>
    <details open>
      <summary><span>THE ELEMENTS</span></summary>
      <ul>
        <li>
          <a href="/elements/input">Input</a>
        </li>
        <li>
          <a href="/elements/checkbox">Checkbox</a>
        </li>
        <li>
          <a href="/elements/toggle">Toggle</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE COMPONENTS</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE MODULES</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
  </div>
</aside>
