<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your page title</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
  <!--
    The page supports both dark and light color schemes,
    and the page author prefers dark.
  -->
  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" content="#1f2023">
  <script>
    const leftWidth = localStorage.getItem('--base-nav-ideal-width')
      ?? getComputedStyle(document.documentElement).getPropertyValue('--base-nav-ideal-width');
    document.documentElement.style.setProperty('--base-nav-ideal-width', leftWidth);
  </script>
</head>

<body>
  {% include header.liquid %}
  {% include nav.liquid %}
  {{ content }}
</body>

<script async type=module src="//static.brickpile.app/main.js?v=3"></script>
<script async type=module src=/scripts.js></script>

</html>