<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your page title</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
  <!--
    The page supports both dark and light color schemes,
    and the page author prefers dark.
  -->
  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" content="#1f2023">
  <script>
    try {
      const preferences = JSON.parse(localStorage.getItem('preferences'));
      const navPaneWidth = preferences?.navPaneWidth ?? getComputedStyle(document.documentElement).getPropertyValue('--base-nav-ideal-width');
      document.documentElement.style.setProperty('--base-nav-ideal-width', navPaneWidth);
      const sidePaneWidth = preferences?.sidePaneWidth ?? getComputedStyle(document.documentElement).getPropertyValue('--base-aside-ideal-width');
      document.documentElement.style.setProperty('--base-aside-ideal-width', sidePaneWidth);
    } catch {}
  </script>
</head>

<body class="{{ className }}">

  <layout-default data-layout>
    {% include header.liquid %}
    {% include nav.liquid %}
    {{ content }}
  </layout-default>

  <script async type=module src=/scripts/main.js></script>
  <script async type=module src=/scripts.js></script>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      setTimeout(() => {
        document.body.classList.add('loaded');
      }, 1000);
    });
  </script>

</body>
</html>