<header>
  <button type="button" aria-label="Toggle navigation" aria-controls="nav" aria-expanded="false">
    <svg width="16" height="16" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.08797 9.04559H16.588" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M3.08797 4.54559H16.588" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M3.08797 13.5456H16.588" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
  <tool-bar></tool-bar>
</header>