  <nav>
    <header>
      <scheme-switch checked></scheme-switch>
    </header>
    <ul>
      <li>
        <a href="/">Introduction</a>
      <li>
      <li>
        <a href="/typography">Typography</a>
      <li>
      <li>
        <a href="/colors">Colors</a>
      <li>
    </ul>
    <details>
      <summary><span>THE ELEMENTS</span></summary>
      <ul>
        <li>
          <a href="/elements/input">Input</a>
        </li>
        <li>
          <a href="/elements/checkbox">Checkbox</a>
        </li>
        <li>
          <a href="/elements/toggle">Toggle</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE COMPONENTS</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE MODULES</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <div id="dragbar"></div>
  </nav>