  <nav is="resizable-nav" id=nav>
    <header>

    </header>
    <ul>
      <li>
        <a href="/">Introduction</a>
      </li>
      <li>
        <a href="/typography">Typography</a>
      </li>
      <li>
        <a href="/colors">Colors</a>
      </li>
    </ul>
    <h2 style="font-size: var(--scale-1);font-weight: var(--font-weight-medium); color: var(--color-neutral-400)">Layouts</h2>
    <details>
      <summary><span>Localhost</span></summary>
      <ul>
        <li>
          <a href="#" style="display:flex;place-items: center;">
            <span style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Organizational work and culture</span>
          </a>
      </ul>
    </details>
    <h2 style="font-size: var(--scale-1);font-weight: var(--font-weight-medium); color: var(--color-neutral-400)">Your teams</h2>
    <details>
      <summary><span>Localhost</span></summary>
      <ul>
        <li>
          <a href="#" style="display:flex;place-items: center;">
          <svg width="16" height="16" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.188 2.67017L2.18799 7.67017L12.188 12.6702L22.188 7.67017L12.188 2.67017Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.18799 17.6702L12.188 22.6702L22.188 17.6702" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.18799 12.6702L12.188 17.6702L22.188 12.6702" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> <span style="margin-left: var(--spacing-000);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Content</span></a>
        </li>
        <li>
          <a href="#" style="display:flex;place-items: center;">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.2398 7.76001L14.1198 14.12L7.75977 16.24L9.87977 9.88001L16.2398 7.76001Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> <span style="margin-left: var(--spacing-000);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Sitemap</span></a>
        </li>
        <li>
          <a href="/unsplash" style="display:flex;place-items: center;">
            <svg width="16" height="16" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.188 3.67017H5.18799C4.08342 3.67017 3.18799 4.5656 3.18799 5.67017V19.6702C3.18799 20.7747 4.08342 21.6702 5.18799 21.6702H19.188C20.2926 21.6702 21.188 20.7747 21.188 19.6702V5.67017C21.188 4.5656 20.2926 3.67017 19.188 3.67017Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.68799 10.6702C9.51642 10.6702 10.188 9.99859 10.188 9.17017C10.188 8.34174 9.51642 7.67017 8.68799 7.67017C7.85956 7.67017 7.18799 8.34174 7.18799 9.17017C7.18799 9.99859 7.85956 10.6702 8.68799 10.6702Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21.188 15.6702L16.188 10.6702L5.18799 21.6702" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> <span style="margin-left: var(--spacing-000);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Media</span></a>
        </li>
        <li>
          <a href="https://localhost:6001" target="preview" style="display:flex;place-items: center;">
            <svg width="16" height="16" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.188 3.67022C17.4506 3.40758 17.7624 3.19924 18.1056 3.0571C18.4488 2.91496 18.8166 2.8418 19.188 2.8418C19.5594 2.8418 19.9272 2.91496 20.2704 3.0571C20.6135 3.19924 20.9253 3.40758 21.188 3.67022C21.4506 3.93287 21.659 4.24467 21.8011 4.58783C21.9433 4.93099 22.0164 5.29879 22.0164 5.67022C22.0164 6.04166 21.9433 6.40946 21.8011 6.75262C21.659 7.09578 21.4506 7.40758 21.188 7.67022L7.68799 21.1702L2.18799 22.6702L3.68799 17.1702L17.188 3.67022Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> <span style="margin-left: var(--spacing-000);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Edit</span></a>
        </li>
        <li>
          <a href="#" style="display:flex;place-items: center;">
            <svg width="16" height="16" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.188 22.6702C17.7108 22.6702 22.188 18.193 22.188 12.6702C22.188 7.14732 17.7108 2.67017 12.188 2.67017C6.66514 2.67017 2.18799 7.14732 2.18799 12.6702C2.18799 18.193 6.66514 22.6702 12.188 22.6702Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.188 18.6702C15.5017 18.6702 18.188 15.9839 18.188 12.6702C18.188 9.35646 15.5017 6.67017 12.188 6.67017C8.87428 6.67017 6.18799 9.35646 6.18799 12.6702C6.18799 15.9839 8.87428 18.6702 12.188 18.6702Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.188 14.6702C13.2926 14.6702 14.188 13.7747 14.188 12.6702C14.188 11.5656 13.2926 10.6702 12.188 10.6702C11.0834 10.6702 10.188 11.5656 10.188 12.6702C10.188 13.7747 11.0834 14.6702 12.188 14.6702Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> <span style="margin-left: var(--spacing-000);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">Organizational work and culture</span></a>
      </ul>
    </details>
    <details>
      <summary><span>THE ELEMENTS</span></summary>
      <ul>
        <li>
          <a href="/elements/input">Input</a>
        </li>
        <li>
          <a href="/elements/checkbox">Checkbox</a>
        </li>
        <li>
          <a href="/elements/toggle">Toggle</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE COMPONENTS</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE MODULES</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
  </nav>