  <nav>
    <header>
      <!-- <scheme-switch checked></scheme-switch> -->
      <input type="text" list="cities" id="city" name="city">
      <datalist id="cities">
        <option value="New York City"></option>
        <option value="Tokyo"></option>
        <option value="Barcelona"></option>
        <option value="Mexico City"></option>
        <option value="Melbourne"></option>
        <option value="Other"></option>
      </datalist>
    </header>
    <ul>
      <li>
        <a href="/">Introduction</a>
      <li>
      <li>
        <a href="/typography">Typography</a>
      <li>
      <li>
        <a href="/colors">Colors</a>
      <li>
    </ul>
    <details open>
      <summary><span>THE ELEMENTS</span></summary>
      <ul>
        <li>
          <a href="/elements/input">Input</a>
        </li>
        <li>
          <a href="/elements/checkbox">Checkbox</a>
        </li>
        <li>
          <a href="/elements/toggle">Toggle</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE COMPONENTS</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <details>
      <summary><span>THE MODULES</span></summary>
      <ul>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
        <li>
          <a href="#">Create an Elements object</a>
        </li>
        <li>
          <a href="#">Create an Element</a>
        </li>
        <li>
          <a href="#">Get an Element</a>
        </li>
      </ul>
    </details>
    <div id="dragbar"></div>
  </nav>