/*
  TODO: move this to the same directory as the aside element
*/

aside .dragbar {
  position: absolute;
  top: 0;
  left: 0;

  width: 4px;
  min-width: unset;
  height: 100%;
  margin: 0;

  padding: 0;

  border-radius: unset;
  box-shadow: unset;

  opacity: 0;
}

aside .dragbar:hover {
  cursor: col-resize;
}

@media (max-width: 1023px) {
  aside .dragbar:hover {
    cursor: initial;
  }
}
