button[aria-controls="images"] {
  display: flex;
  flex-direction: column;
}
button[aria-controls="images"]::before,
button[aria-controls="images"]::after {
  transform-origin: center center;

  /* transition: transform 1s ease; */
}
button[aria-controls="images"]:focus::before {
  bottom: -2px;

  transform: rotate(180deg);
}
button[aria-controls="images"]:focus::after {
  top: -2px;

  transform: rotate(0deg);
}
button[aria-controls="images"]::before {
  position: relative;
  bottom: 1px;

  display: block;

  width: 5px;
  height: 5px;

  background-color: var(--color-control-backface);

  content: "";
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

button[aria-controls="images"]::after {
  position: relative;
  top: 1px;

  display: block;

  width: 5px;
  height: 5px;

  background-color: var(--color-control-backface);

  transform: rotate(180deg);

  content: "";
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

button[aria-controls="images"]:hover::before,
button[aria-controls="images"]:hover::after {
  background-color: #8A8F98;
}