header button {
  position: fixed;
  top: 14px;
  left: max(6px, calc(var(--sal) - 8px));

  z-index: var(--layer-2);

  display: inline-flex;

  align-items: center;

  justify-content: center;

  min-width: 28px;
  height: 28px;
  padding: 0px;

  color: var(--color-control-backface);

  border-radius: var(--radius-1);

  outline: none;

  cursor: pointer;
}

header button:first-of-type {
  display: none;

  background-color: transparent;
  border: none;
  box-shadow: none;

}

@media (max-width: 1023px) {
  body {
    grid-template-areas:
      "header"
      "content";
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr;

    contain: initial;
  }

  header {
    justify-content: space-between;
    width: 100%;
  }

  header button:first-of-type {
    display: inline-flex;
  }

  nav {
    position: fixed;

    z-index: var(--layer-1);

    box-sizing: border-box;

    width: clamp(190px, 220px, 50vw);

    /* width: 220px;
    min-width: 190px;
    max-width: 50vw; */

    height: 100vh;

    box-shadow: none;

    transform: translateX(calc(-252px - env(safe-area-inset-left)));

    transition: transform 250ms var(--easing-decelerate);

    will-change: transform;
  }

  main {
    box-sizing: border-box;
    width: 100vw;
  }

  nav[data-open] {
    box-shadow: var(--elevation-2);
    transform: translateX(0);
  }
}