#dragbar {
  position: absolute;
  top: 0;
  right: 0;

  width: 4px;
  min-width: unset;
  height: 100%;
  margin: 0;

  background: var(--color-background-tint);
  border-radius: unset;
  box-shadow: unset;

  opacity: 0;

  transition: opacity 75ms var(--easing-accelerate);

  will-change: opacity;
}

#dragbar:hover,
body.resizing #dragbar {
  cursor: col-resize;
  opacity: 1;
}

@media (max-width: 1023px) {
  #dragbar:hover,
  body.resizing #dragbar {
    cursor: initial;
    opacity: 0;
  }
}