nav .dragbar {
  position: absolute;
  top: 0;
  right: 0;

  width: 4px;
  min-width: unset;
  height: 100%;
  margin: 0;

  border-radius: unset;
  box-shadow: unset;

  opacity: 0;
}

nav .dragbar:hover {
  cursor: col-resize;
}

@media (max-width: 1023px) {

  nav {
    position: fixed;

    z-index: var(--layer-2);

    box-sizing: border-box;

    width: clamp(190px, 220px, 50vw);

    height: 100vh;

    transform: translateX(calc(-218px - env(safe-area-inset-left)));

    visibility: hidden;

    transition: transform 250ms var(--easing-decelerate);
  }

  nav[data-open] {
    box-shadow: var(--elevation-2);
    transform: translateX(0);
    visibility: visible;
  }

  nav .dragbar:hover {
    cursor: initial;
  }
}