nav header {
  position: sticky;
  top: 0;

  z-index: var(--layer-1);

  display: flex;

  grid-area: auto;

  align-items: center;

  padding: 0;

  background-color: var(--color-background);
  border: none;
}

nav header::after {

  position: absolute;
  bottom: -25px;

  width: 100%;
  height: 25px;

  background: linear-gradient(0deg, rgba(31,32,35,0) 50%, rgba(31,32,35,1) 100%);


  content: '';
  pointer-events: none;
}

nav ul {
  padding:0;
}

@media (max-width: 1023px) {
  nav {
    box-shadow: var(--elevation-1);
  }
  nav header {
    padding-top: 33px;
  }
}